{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<h1>Accueil</h1>
	<h2 class="h2-accueil">Bienvenue sur le site de la société Perle Do.</h2>
	{# ---------------------------------futur ventes--------------------------------- #}
	<h2 class="h2-accueil">Prochaines ventes</h2>
	<a href="{{ path('app_vente_futur_index') }}" class="lien-fond-noir link-underline link-underline-opacity-0 mb-2">Voir les ventes prévues</a>
	<div class="accueil-vente-passe">
		{% for venteFutur in ventesFutur %}
			<div class="card vente-card-accueil mx-auto">
				<a href="{{ path('app_vente_show', { slug: venteFutur.slug }) }}" class="link-underline link-underline-opacity-0">
					<h4 class="card-header h4-vente-a">Vente du
						{{ venteFutur.dateVente ? venteFutur.dateVente|date('d-m-Y à H:i') : '' }}</h4>
				</a>
				<div class="card-body">
					<h4 class="card-title h4-vente">{{ venteFutur.nomVente }}
						chez
						{{ venteFutur.commissairePriseur }}</h4>
					<p class="card-text p-vente text-center">Exposition des lots le
						{{ venteFutur.dateExposition ? venteFutur.dateExposition|date('d-m-Y') : '' }}
						entre
						{{ venteFutur.heureExposition }}</p>
					<div class="d-flex justify-content-around">
						{% set lotsPourVenteFutur = selectedLotsFutur[venteFutur.id] %}
						{% for lotFutur in lotsPourVenteFutur %}
							<div class="card image-card-accueil">
								<img src="{{ asset('build/images/' ~ lotFutur.photo) }}" class="card-img-top img-vente" loading="lazy" alt="{{ lotFutur.nom }}">
								<div class="card-body text-center texte-lot-vente">
									<h4 class="card-title h4-vente">{{ lotFutur.nom }}</h4>
									<p class="card-text p-footer">
										Estimation :
										{{ lotFutur.estimationBasse/100 }}
										€ -
										{{ lotFutur.estimationHaute/100 }}
										€</p>
									<a href="{{ path('app_vente_show_lot', { 'slug': venteFutur.slug, 'slug2': lotFutur.slug }) }}" class="btn btn-vente">Voir le lot</a>
								</div>
							</div>
						{% endfor %}
					</div>
					<a class="btn btn-vente mt-3" href="{{ path('app_vente_show', {'slug': venteFutur.slug}) }}">Voir la vente</a>
				</div>
			</div>
		{% else %}
			<p>pas de ventes prévues actuellement</p>
		{% endfor %}
	</div>
	{# ----------------------------ventes anciennes-------------------------------- #}
	<h2 class="h2-accueil">Les 2 dernières ventes</h2>
	<a href="{{ path('app_vente_passe_index') }}" class="lien-fond-noir link-underline link-underline-opacity-0 mb-2">Voir toutes les ventes</a>
	<div class="accueil-vente-passe">
		{% for ventePasse in ventesPasses %}
			<div class="card vente-card-accueil mx-auto mt-2">
				<a href="{{ path('app_vente_show', {'slug': ventePasse.slug}) }}" class="link-underline link-underline-opacity-0">
					<h4 class="card-header h4-vente-a">Vente du
						{{ ventePasse.dateVente ? ventePasse.dateVente|date('d-m-Y') : '' }}</h4>
				</a>
				<div class="card-body">
					<h4 class="card-title h4-vente">{{ ventePasse.nomVente }}
						chez
						{{ ventePasse.commissairePriseur }}</h4>
					<div class="d-flex justify-content-around">
						{% set lotsVendus = selectedLotsPasses[ventePasse.id] %}
						{% for lotPasse in lotsVendus %}
							<div class="card image-card-accueil">
								<img src="{{ asset('build/images/' ~ lotPasse.photo) }}" class="card-img-top img-vente" loading="lazy" alt="{{ lotPasse.nom }}">
								<div class="card-body text-center texte-lot-vente">
									<a href="{{ path('app_vente_show_lot', { 'slug': ventePasse.slug, 'slug2': lotPasse.slug }) }}" class="btn btn-vente">Voir le lot</a>
								</div>
							</div>
						{% endfor %}
					</div>
					<a class="btn btn-vente mt-3" href="{{ path('app_vente_show', {'slug': ventePasse.slug}) }}">Voir les résultats</a>

				</div>
			</div>
		{% else %}
			<p>
				Pas de ventes terminées enregistrées actuellement</p>
		{% endfor %}
	</div>
	{# -----------------------------articles de presse---------------------- #}
	<h2 class="h2-accueil">On parle de nous</h2>
	<a href="" class="lien-fond-noir link-underline link-underline-opacity-0 mb-2">Voir tous les articles de presse</a>
		{# -----------------------------mobile------------------------- #}
		<div class="accueil-presse">
		{% for articlePresse in articlesPresse %}
	<div class="card card-presse-accueil mx-auto">
			<img src="{{ asset('build/images/' ~ articlePresse.photo) }}" class="card-img-top" alt="{{ articlePresse.description }}" loading="lazy">
			<div class="card-body">
				<h4 class="card-title h4-vente">{{ articlePresse.journal }}</h4>
				<p class="p-footer">{{ articlePresse.date ? articlePresse.date|date('d-m-Y') : '' }}</p>
				<p class="p-vente">{{ articlePresse.nom }}</p>
				<p class="p-blog">{{ articlePresse.description }}</p>
				<a href="{{ articlePresse.lien }}" class="btn btn-vente">Lire l'article</a>
			</div>
			</div>
		{% else %}
			<p>
				Pas d'article actuellement</p>
		{% endfor %}
	</div>
		{# -----------------------------------desktop---------------------------- #}
		<div class="accueil-presse2">
			{% for articlePresse in articlesPresse %}
				<div class="book d-flex flex-column">
					<h4 class="h4-vente">{{ articlePresse.journal }}</h4>
					<p class="p-footer">{{ articlePresse.date ? articlePresse.date|date('d-m-Y') : '' }}</p>
					<p class="p-vente">{{ articlePresse.nom }}</p>
					<p class="p-blog">{{ articlePresse.description }}</p>
					<a href="{{ articlePresse.lien }}" type="button" class="btn btn-vente">Lire l'article</a>
					<div class="cover">
						<img src="{{ asset('build/images/' ~ articlePresse.photo) }}" class="img-presse-accueil" loading="lazy" alt="{{ articlePresse.description }}">
					</div>
				</div>
			{% else %}
				<p>
					Pas d'article actuellement</p>
			{% endfor %}
		</div>


	{# ---------------------------blog-------------------------------- #}
	<h2 class="h2-accueil">Les 2 dernières publications</h2>
	<a href="" class="lien-fond-noir link-underline link-underline-opacity-0 mb-2">Voir le blog</a>
	<div class="accueil-blog">
		{% for article in articles %}
			<div class="card2 mx-auto">
				<div class="content">
					<h4 class="heading card-header h4-blog">
						{{ article.titre }}</h4>
					{# <img src="{{ asset('build/images/' ~ article.photo) }}" class="card-img-top img-blog-accueil" loading="lazy" alt="{{ article.description }}"> #}
					<p class="p-blog">{{ article.article|striptags|u.truncate(150, '...', true)|raw }}</p>
					<button class="btn">Voir cet article</button>
				</div>
			</div>
		{% else %}
			<p>
				Pas d'article actuellement</p>
		{% endfor %}
	</div>


{% endblock %}
