{% extends 'base.html.twig' %}

{% block title %}Anciennes ventes
{% endblock %}

{% block body %}
	<h1>Ventes terminées</h1>
	{% for vente in ventes %}
		<div class="card vente-card mx-auto mt-4 mb-2" loading="lazy">
			<a href="{{ path('app_vente_show', { slug: vente.slug }) }}" class="link-underline link-underline-opacity-0">
				<h4 class="card-header h4-vente-a">Vente du
					{{ vente.dateVente ? vente.dateVente|date('d-m-Y') : '' }}</h4>
			</a>
			<div class="card-body">
				<h4 class="card-title h4-vente">{{ vente.nomVente }}
					chez
					{{ vente.commissairePriseur }}</h4>
				<p class="card-text p-vente">{{ vente.adresse }}</p>
				<p class="card-text p-vente">{{ vente.codePostal }}
					{{ vente.ville }}</p>
				<div class="d-flex justify-content-around">
					{% set lotsPourVente = selectedLots[vente.id] %}
					{% for lot in lotsPourVente %}
						<div class="card image-card">
							<img src="{{ asset('build/images/' ~ lot.photo) }}" class="card-img-top img-vente" alt="{{ lot.nom }}">
							<div class="card-body text-center texte-lot-vente">
								<h4 class="card-title h4-vente">{{ lot.nom }}</h5>
								<p class="card-text">
								Estimation : {{ lot.estimationBasse }} € - {{ lot.estimationHaute }} €<br>
								Prix de vente : {{ lot.prixVendu }} € (hors frais)</p>
								<a href="#" class="btn btn-vente">Voir le lot</a>
							</div>
						</div>
					{% endfor %}
				</div>
				<a class="btn btn-vente mt-3" href="{{ path('app_vente_show', {'slug': vente.slug}) }}">Voir les résultats</a>
			</div>
		</div>
	{% else %}
		<p>
			Pas de ventes terminées enregistrées actuellement</p>
	{% endfor %}
{% endblock %}
