{% extends 'base.html.twig' %}

{% block title %}Vente{% endblock %}

{% block body %}
    <h1>{{ vente.nomVente }}</h1>
    {% if vente.passe %} 
        <h2 class="h2-accueil">Vente du {{ vente.dateVente|date('Y-m-d') }}</h2>
        <h2 class="h2-accueil">chez {{ vente.commissairePriseur }}</h2>
        <p class="p-vente">{{ vente.ville }}</p>
    {% else %}
        <h2 class="h2-accueil">Cette vente aura lieu le {{ vente.dateVente|date('Y-m-d à H:i') }}</h2>
        <h2 class="h2-accueil">chez {{ vente.commissairePriseur }}</h2>
        <p class="p-vente">{{ vente.adresse }}, {{ vente.codePostal }} {{ vente.ville }}</p>
        <p class="p-vente">Exposition le {{ vente.dateExposition|date('Y-m-d') }} de {{ vente.heureExposition }}</p>
    {% endif %}

{% for lot in vente.lots %}
    
    <div class="lot">
        <h3>{{ lot.nom }}</h3>
        <p>{{ lot.description }}</p>
        <p>{{ lot.estimationBasse }} - {{ lot.estimationHaute }}</p>
        <p>{{ lot.vendu }}</p>
    </div>
{% endfor %}

    {# <a href="{{ path('app_vente_index') }}">back to list</a> #}

    <a href="{{ path('app_vente_edit', {'id': vente.id}) }}">edit</a>

    {{ include('vente/_delete_form.html.twig') }}
{% endblock %}
