{% extends 'base.html.twig' %}

{% block title %}Blog index
{% endblock %}

{% block body %}
	<h1>Blog index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Article</th>
				<th>LienVideo</th>
				<th>Titre</th>
				<th>Date</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for blog in blogs %}
				<tr>
					<td>{{ blog.article }}</td>
					{% for photoBlog in blog.photoBlogs %}
						<img src="{{ asset('uploads/images/pictures' ~ photoBlog.photo) }}" alt="Photo du blog">
					{% endfor %}
					<td>{{ blog.lienVideo }}</td>
					<td>{{ blog.titre }}</td>
					<td>{{ blog.date ? blog.date|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_blog_show', {'id': blog.id}) }}">show</a>
						<a href="{{ path('app_blog_edit', {'id': blog.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_blog_new') }}">Create new</a>
{% endblock %}
